## Webscrapping para mundial "tabla de posiciones"

### Tablas del grupo A al grupo H

In [1]:
#LIBRERIAS
import pandas as pd
from string import ascii_uppercase as alfabeto #abecedario en mayuscula
import pickle

In [2]:
# Nota: Se extraera de wikipedia la info

In [3]:
import ssl
import certifi
from urllib.request import urlopen

request = "https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup"
urlopen(request, context=ssl.create_default_context(cafile=certifi.where()))
## el codigo arriba sirve para hacer el webscrapping
todas_tablas=pd.read_html("https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup") #extraer data de paginas web que estan hechas con html

In [4]:
#todas_tablas

In [5]:
#A -> H
# 12 -> 7X8+12= 68 
todas_tablas[12] # tabla del grupo A
todas_tablas[19] # tabla del grupo B
todas_tablas[26] # tabla del grupo C
# DE ESTA MANERA TOCARIA HACERLO INDICE POR INDICE

   Pos       Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Argentina    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2  Saudi Arabia    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3        Mexico    0  0  0  0   0   0   0    0                        NaN
3    4        Poland    0  0  0  0   0   0   0    0                        NaN

In [6]:
todas_tablas[19].columns[1] #nombre columna
todas_tablas[12].columns[1]

'Team.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vte'

In [7]:
todas_tablas=pd.read_html("https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")

#PERO SE PUEDE HACER UN BUCLE:
for i in range(12,68,7): #numero inicial y el final, no se cuenta el valor final
    df=todas_tablas[i]
    df.rename(columns={df.columns[1]:"Team"}, inplace=True) # cambiar nombre a las cols, ojo: no todas se llaman teamvte, hay unas que tienen otros nombres
    #el codigo anterior sirve para todas menos para el grupo A
    #con lo de df.columns[1] nos ahorramos que sea diferente en cada base
    df.pop("Qualification")### eliminar qualification
    print(df)

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0
   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        England    0  0  0  0   0   0   0    0
1    2           Iran    0  0  0  0   0   0   0    0
2    3  United States    0  0  0  0   0   0   0    0
3    4          Wales    0  0  0  0   0   0   0    0
   Pos          Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Argentina    0  0  0  0   0   0   0    0
1    2  Saudi Arabia    0  0  0  0   0   0   0    0
2    3        Mexico    0  0  0  0   0   0   0    0
3    4        Poland    0  0  0  0   0   0   0    0
   Pos       Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     France    0  0  0  0   0   0   0    0
1    2  Australia    0  0  0  0   0   0   0    0
2    3    Denmark    0  0  0  0   0   0   0    0
3    4    Tunisia    0  0  0  0   0   0   0    0
   Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Spain    0  0  0  0   0   0   0    0
1    2  Costa Rica    0  0  0  0   0   0   0    0
2    3     Germany    0  0  0  0   0   0   0    0
3    4       Japan    0  0  0  0   0   0   0    0
   Pos     Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Belgium    0  0  0  0   0   0   0    0
1    2   Canada    0  0  0  0   0   0   0    0
2    3  Morocco    0  0  0  0   0   0   0    0
3    4  Croatia    0  0  0  0   0   0   0    0
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Brazil    0  0  0  0   0   0   0    0
1    2       Serbia    0  0  0  0   0   0   0    0
2    3  Switzerland    0  0  0  0   0   0   0    0
3    4     Cameroon    0  0  0  0   0   0   0    0
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [8]:
### Ahora se realizara un diccionario para implementarlo de una manera mas sencilla
alfabeto

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [9]:
for letra,i in zip(alfabeto,range(12,68,7)):
    print(letra,i)

A 12
B 19
C 26
D 33
E 40
F 47
G 54
H 61

In [10]:
todas_tablas=pd.read_html("https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")

#PERO SE PUEDE HACER UN BUCLE:
dict_tablas = {}
for letra,i in zip(alfabeto,range(12,68,7)):
    df=todas_tablas[i]
    df.rename(columns={df.columns[1]:"Team"}, inplace=True) # cambiar nombre a las cols, ojo: no todas se llaman teamvte, hay unas que tienen otros nombres
    #el codigo anterior sirve para todas menos para el grupo A
    #con lo de df.columns[1] nos ahorramos que sea diferente en cada base
    df.pop("Qualification")### eliminar qualification
    dict_tablas[f"Group {letra}"] = df## llenar el dicc de data

In [11]:
dict_tablas.keys() #devuelve todos los grupos

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [12]:
dict_tablas["Group A"]
dict_tablas["Group H"]

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [13]:
## exportar diccionario con con modulo pickle

In [14]:
with open('dict_table2','wb') as output:
    pickle.dump(dict_tablas,output,) #todo se va a extraer a un elemento

## Prediccion ganador mundial qatar 2022 desde 1930 - 2018

In [15]:
## Librerias
#pip install bs4
from bs4 import BeautifulSoup
import requests #enviar solicitudes a una pagina web
import pandas as pd

In [16]:
#verificar que todos los partidos estan bien "mundial 2014"
web = "https://en.wikipedia.org/wiki/2014_FIFA_World_Cup"
response = requests.get(web) 
content = response.text
soup=BeautifulSoup(content,"lxml")
matches=soup.find_all("div",class_="footballbox") 
for match in matches:
    print(match.find("th",class_="fhome").get_text())
    print(match.find("th",class_="fscore").get_text())
    print(match.find("th",class_="faway").get_text())

Brazil
3–1
 Croatia
Mexico
1–0
 Cameroon
Brazil
0–0
 Mexico
Cameroon
0–4
 Croatia
Cameroon
1–4
 Brazil
Croatia
1–3
 Mexico
Spain
1–5
 Netherlands
Chile
3–1
 Australia
Australia
2–3
 Netherlands
Spain
0–2
 Chile
Australia
0–3
 Spain
Netherlands
2–0
 Chile
Colombia
3–0
 Greece
Ivory Coast
2–1
 Japan
Colombia
2–1
 Ivory Coast
Japan
0–0
 Greece
Japan
1–4
 Colombia
Greece
2–1
 Ivory Coast
Uruguay
1–3
 Costa Rica
England
1–2
 Italy
Uruguay
2–1
 England
Italy
0–1
 Costa Rica
Italy
0–1
 Uruguay
Costa Rica
0–0
 England
Switzerland
2–1
 Ecuador
France
3–0
 Honduras
Switzerland
2–5
 France
Honduras
1–2
 Ecuador
Honduras
0–3
 Switzerland
Ecuador
0–0
 France
Argentina
2–1
 Bosnia and Herzegovina
Iran
0–0
 Nigeria
Argentina
1–0
 Iran
Nigeria
1–0
 Bosnia and Herzegovina
Nigeria
2–3
 Argentina
Bosnia and Herzegovina
3–1
 Iran
Germany
4–0
 Portugal
Ghana
1–2
 United States
Germany
2–2
 Ghana
United States
2–2
 Portugal
United States
0–1
 Germany
Portugal
2–1
 Ghana
Belgium
2–1
 Algeria
Russia
1–1
 South Korea
Belgium
1–0
 Russia
South Korea
2–4
 Algeria
South Korea
0–1
 Belgium
Algeria
1–1
 Russia
Brazil
1–1 (a.e.t.)
 Chile
Colombia
2–0
 Uruguay
Netherlands
2–1
 Mexico
Costa Rica
1–1 (a.e.t.)
 Greece
France
2–0
 Nigeria
Germany
2–1 (a.e.t.)
 Algeria
Argentina
1–0 (a.e.t.)
 Switzerland
Belgium
2–1 (a.e.t.)
 United States
France
0–1
 Germany
Brazil
2–1
 Colombia
Argentina
1–0
 Belgium
Netherlands
0–0 (a.e.t.)
 Costa Rica
Brazil
1–7
 Germany
Netherlands
0–0 (a.e.t.)
 Argentina
Brazil
0–3
 Netherlands
Germany
1–0 (a.e.t.)
 Argentina

In [17]:
## partidos de mundial 2014
web = "https://en.wikipedia.org/wiki/2014_FIFA_World_Cup"
response = requests.get(web) #obtenemos el contenido de la pagina
content = response.text
soup=BeautifulSoup(content,"lxml") #leer lo que he impreso previamente
#pip install lxml
matches=soup.find_all("div",class_="footballbox") #find encontrar un elemento, findall todos los elementos
# para inspeccionar lo debo hacer en el wikipedia y buscar un patron que me ayude a inspeccionar todos los partidos
#luego minimizo y miro el nombre de clase en el html, el div y la clase que engloba a todos los partidos
#anteriormente creamos una lista con todos los partidos, entonces para extraer partido por partido:
#dataframe para mejor visualizacion de tablacon pandas, append para almacenar
home=[]
score=[]
away=[]
for match in matches:
    home.append(match.find("th",class_="fhome").get_text()) #encontrar un elemento dentro de una fila
    #arriba lo que se debe buscar es un patron que nos indique el equipo local
    #get_Text para obtener el texto del elemento
    #Ahora sigue el score:
    score.append(match.find("th",class_="fscore").get_text())
    #Ahora sigue el texto del equipo visitante:
    away.append(match.find("th",class_="faway").get_text())
dict_football = {"home":home, "score":score, "away":away} # crear diccionario
df_football=pd.DataFrame(dict_football)# creacion del dataframe
df_football["year"]="2014" #nueva columna
print(df_football)

            home         score          away  year
0        Brazil            3–1       Croatia  2014
1        Mexico            1–0      Cameroon  2014
2        Brazil            0–0        Mexico  2014
3      Cameroon            0–4       Croatia  2014
4      Cameroon            1–4        Brazil  2014
..           ...           ...           ...   ...
59  Netherlands   0–0 (a.e.t.)    Costa Rica  2014
60       Brazil            1–7       Germany  2014
61  Netherlands   0–0 (a.e.t.)     Argentina  2014
62       Brazil            0–3   Netherlands  2014
63      Germany   1–0 (a.e.t.)     Argentina  2014

[64 rows x 4 columns]

In [18]:
# ahora no solo el mundial 2014 sino todos los mundiales
#hay un patron en la pagina de wikipedia, solo cambia el año en las paginas
# si cambio el año me cambia la pagina, web dinamica
years = [1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,
        1978,1982,1986,1990,1994,1998,2002,2006,2010,2014,
        2018]
def get_matches(year):
    web = f"https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup" #nuevo link
    response = requests.get(web) #obtenemos el contenido de la pagina
    content = response.text
    soup=BeautifulSoup(content,"lxml") #leer lo que he impreso previamente
    #pip install lxml
    matches=soup.find_all("div",class_="footballbox") #find encontrar un elemento, findall todos los elementos
    # para inspeccionar lo debo hacer en el wikipedia y buscar un patron que me ayude a inspeccionar todos los partidos
    #luego minimizo y miro el nombre de clase en el html, el div y la clase que engloba a todos los partidos
    #anteriormente creamos una lista con todos los partidos, entonces para extraer partido por partido:
    #dataframe para mejor visualizacion de tablacon pandas, append para almacenar
    home=[]
    score=[]
    away=[]
    for match in matches:
        home.append(match.find("th",class_="fhome").get_text()) #encontrar un elemento dentro de una fila
        #arriba lo que se debe buscar es un patron que nos indique el equipo local
        #get_Text para obtener el texto del elemento
        #Ahora sigue el score:
        score.append(match.find("th",class_="fscore").get_text())
        #Ahora sigue el texto del equipo visitante:
        away.append(match.find("th",class_="faway").get_text())
    dict_football = {"home":home, "score":score, "away":away} # crear diccionario
    df_football=pd.DataFrame(dict_football)# creacion del dataframe
    df_football["year"]=year #nueva columna pero ahora con todos los años
    return df_football #me devuelve el data frame del año que quiero
print(get_matches(2018)) #mundiales mas viejos tienen datos faltantes
    #print(df_football)

        home         score           away  year
0    Russia            5–0   Saudi Arabia  2018
1     Egypt            0–1        Uruguay  2018
2    Russia            3–1          Egypt  2018
3   Uruguay            1–0   Saudi Arabia  2018
4   Uruguay            3–0         Russia  2018
..       ...           ...            ...   ...
59   Russia   2–2 (a.e.t.)        Croatia  2018
60   France            1–0        Belgium  2018
61  Croatia   2–1 (a.e.t.)        England  2018
62  Belgium            2–0        England  2018
63   France            4–2        Croatia  2018

[64 rows x 4 columns]

In [19]:
#extraer todos los mundiales
fifa = [get_matches(year) for year in years] #lista de compresion de todos los mundiales, hay como 20 dataframes
df_fifa=pd.concat(fifa,ignore_index=True) #concatenar dataframes, los tenemos todos en fifa
df_fifa.to_csv("fifa_worldcup_historical_data.csv", index=False) #data historica de los mundiales de fifa
# sin index que es el 0 1 2 3 que aparece al lado de las filas

In [20]:
#extraer el fixture
df_fixture = get_matches(2022) #todo lo mismo pero sin resultados
df_fixture.to_csv("fifa_worldcup_fixture.csv",index=False)
#ojo como se actualizo ya aparece con resultados
#https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup, pagina sin actualizar

## Extraer data faltante

### Web scrapping pero con otra libreria "selenium"

Paginas web tienen informacion inconsistente, mundiales especificos que tienen un patron distinto a nivel de codigo html

In [21]:
# se debe buscar otro patron, es independiente al de soup

In [22]:
# Se debe descargar ChromeDriver, dar en help about google chrome

In [23]:
#!pip install selenium
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import pandas as pd
import time #creo que viene incluida, para una pausa
path = "C:/Users/LAURA/Desktop/cursos data science/Fundamentos analisis estadistico profe Carlos Mantilla/curso intro ciencia de datos/sesion 2/R/chromedriver"#RUTA DE ARCHIVO chromedriver
service=Service(executable_path=path)

In [24]:
#driver para interactuar con la pagina web
driver = webdriver.Chrome(service=service)

In [25]:
#ya arriba inicializamos, ahora sigue el testeo:
#web="https://en.wikipedia.org/wiki/1970_FIFA_World_Cup"
#driver.get(web) #se abre el driver controlado por selenium

In [26]:
# examinar la pagina en la que se va a hacer el webscreping
# patron para extraer partidos de futbol
# con el mouse de la esquina superior izquierda en la parte de inspeccionar, puedo usar la opcion de desarrollador de google para ver en donde esta el codigo de los partidos
# me ubico en el nombre del pais
# creo el spad, representacion dentro de la pagina web
# le doy control f, y ahi si testeo el espad
# miro el th, la clase y el valor de la clase
#para crearlo escribo: //td[@align"nombreclase"="valor"] #con eso tengo el valor de todos los locales
# en nuestro caso: //th[@class="fhome"] patron exclusivo de algunos mundiales
# busco el nodo padre para obtener toda la fila del partido, es el que esta arribita, escribo: /..
#//th[@class="fhome"]/..
#matches = driver.find_elements(by="xpath",value="//td[@align='right']/.. | //td[@style='text-align:right;']/..")
#matches = driver.find_elements(by="xpath",value="//td[@align='right']/..") #nos dara los partidos de futbol (1970 es diferente) 
#prueba:
#matches = driver.find_elements(by="xpath",value="//tr[@style='font-size:90%']/..")
#ese patron en años determinados es exclusivo de algunos mundiales, aunque raro que haya aparecido
#si en otra pagina aparece diferente la forma se busca el comando en la pagina y se le pone "or" |
#o se puede reemplazar con uno que englobe todo

#home= []
#score=[]
#away=[]

#ahora extraer cada cosa por individual
#for match in matches: # el match para limitar la busqueda a solo la fila y no toda la pagina
    #home.append(match.find_element(by="xpath",value="./td[1]").text) #el punto es que es como de referencia para no volver a escribir: //th[@class="fhome"]/..
    #score.append(match.find_element(by="xpath",value="./td[2]").text)
    #away.append(match.find_element(by="xpath",value="./td[3]").text)
    # le agrego a: //th[@class="fhome"]/../th[1] ---- 1 para local, 2 marcador y 3 visitante
    
#dict_football = {"home":home,"score":score,"away":away}
#df_football=pd.DataFrame(dict_football)
#df_football["year"]=1970
#time.sleep(2) #para dormir la ejecucion
#df_football.to_csv("test_1970a.csv")     
#driver.quit() #cerrar la ventana que estabamos abriendo

In [27]:
def obtener_data_Faltante(year):
    web=f"https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup"
    driver.get(web)

    #matches = driver.find_elements(by="xpath",value="//td[@align='right']/..")
    matches = driver.find_elements(by="xpath",value="//td[@align='right']/.. | //td[@style='text-align:right;']/..")
    
    home= []
    score=[]
    away=[]

    for match in matches: 
        home.append(match.find_element(by="xpath",value="./td[1]").text)
        score.append(match.find_element(by="xpath",value="./td[2]").text)
        away.append(match.find_element(by="xpath",value="./td[3]").text)

    dict_football = {"home":home,"score":score,"away":away}
    df_football=pd.DataFrame(dict_football)
    df_football["year"]=year
    time.sleep(2) #para dormir la ejecucion
    return df_football

years = [1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,
        1978,1982,1986,1990,1994,1998,2002,2006,2010,2014,
        2018]

#lista con todos los dataframes
fifa = [obtener_data_Faltante(year) for year in years]
    
driver.quit() #por fuera para que no sean 20 ventanas, sino una sola 

df_fifa=pd.concat(fifa,ignore_index=True) # juntar todos los datafranes
df_fifa.to_csv("fifa_worldcup_data_faltante_2opcionn.csv",index=False) #data faltante de los mundiales que no fueron extraidos en soup
#ahi se extrajo la data faltante que no se pudo extraer antes
# Nota: mio:967 - video:965, alla habian 458 datos y 509 faltantes, en mi caso 805 y 160

## LIMPIEZA DE DATOS

In [28]:
# Librerias
import pandas as pd

### 1. Limpiando data

In [29]:
df_data_historica=pd.read_csv("fifa_worldcup_historical_data.csv") #todos los partidos con los resultados

In [30]:
### tengo 805 y ellos 456

In [31]:
df_fixture=pd.read_csv("fifa_worldcup_fixture_Copy1.csv") # competicion del mundial, todos los partidos 2022

In [32]:
#yo 63, ellos 63

In [33]:
# archivo con data faltante
df_data_faltante=pd.read_csv("fifa_worldcup_data_faltante_2opcionn.csv")

In [34]:
#yo 160, el video 507

### 1.1 Limpiando df_fixture

In [35]:
### hay un espacio en blanco antes del pais
df_fixture
df_fixture["home"]=df_fixture["home"].str.strip() #es dificil de darse cuenta pero hay espacios en blanco y se borran con el strip
df_fixture["away"]=df_fixture["away"].str.strip()
df_fixture

                home     score              away  year
0              Qatar   Match 1           Ecuador  2022
1            Senegal   Match 2       Netherlands  2022
2              Qatar  Match 18           Senegal  2022
3        Netherlands  Match 19           Ecuador  2022
4            Ecuador  Match 35           Senegal  2022
..               ...       ...               ...   ...
59  Winners Match 51  Match 59  Winners Match 52  2022
60  Winners Match 57  Match 61  Winners Match 58  2022
61  Winners Match 59  Match 62  Winners Match 60  2022
62   Losers Match 61  Match 63   Losers Match 62  2022
63  Winners Match 61  Match 64  Winners Match 62  2022

[64 rows x 4 columns]

### 1.2 Limpiando df_missing_data y agregando a df_historical_data

In [36]:
# primero lo limpiamos y lego lo combinamos
df_data_faltante.isnull() # hay data faltante en la info que faltaba por agregar
df_data_faltante[df_data_faltante["home"].isnull()] #con esto se puede ver las filas en las que home tiene datos faltantes
#eliminar data faltante:
df_data_faltante.dropna(inplace=True) #para borrar las 64 filas de arriba
df_data_faltante #ya no estarian las 64 filas

             home score           away  year
0         Mexico    0–0   Soviet Union  1970
1        Belgium    3–0    El Salvador  1970
2   Soviet Union    4–1        Belgium  1970
3         Mexico    4–0    El Salvador  1970
4   Soviet Union    2–0    El Salvador  1970
..            ...   ...            ...   ...
91     Argentina    2–0         Poland  1978
92          Peru    0–1         Poland  1978
93     Argentina    0–0         Brazil  1978
94        Poland    1–3         Brazil  1978
95     Argentina    6–0           Peru  1978

[96 rows x 4 columns]

In [37]:
#alla quedan 444 filas y aca 96

In [38]:
#ahora se va a combinar la data historica con la data faltante:
df_data_historica=pd.concat([df_data_historica,df_data_faltante],ignore_index=True) #ignorar index
df_data_historica.drop_duplicates(inplace=True)
df_data_historica.sort_values("year",inplace=True)
df_data_historica

             home score            away  year
0         France    4–1          Mexico  1930
17       Uruguay    4–2       Argentina  1930
16       Uruguay    6–1      Yugoslavia  1930
15     Argentina    6–1   United States  1930
14      Paraguay    1–0         Belgium  1930
..            ...   ...             ...   ...
767       Brazil    2–0      Costa Rica  2018
768       Serbia    1–2     Switzerland  2018
769       Serbia    0–2          Brazil  2018
756       France    1–0            Peru  2018
773  South Korea    1–2          Mexico  2018

[901 rows x 4 columns]

In [39]:
# Misma cantidad que la del video

### 1.3 Limpiando df_historical_data

In [40]:
index_eliminar=df_data_historica[df_data_historica["home"].str.contains("Sweden") &
                 df_data_historica["away"].str.contains("Austria")].index #quizas haya partidos sin resultados, porque no se jugo
#suecia contra austria no tiene numeros, index36
df_data_historica.drop(index=index_eliminar,inplace=True)

In [41]:
df_data_historica[df_data_historica["home"].str.contains("Sweden")]

        home         score           away  year
23   Sweden            3–2      Argentina  1934
46   Sweden            8–0           Cuba  1938
74   Sweden            3–1          Spain  1950
67   Sweden            2–2       Paraguay  1950
66   Sweden            3–2          Italy  1950
131  Sweden            2–0   Soviet Union  1958
134  Sweden            3–1   West Germany  1958
119  Sweden            0–0          Wales  1958
118  Sweden            2–1        Hungary  1958
115  Sweden            3–0         Mexico  1958
814  Sweden            1–1         Israel  1970
846  Sweden            3–0        Uruguay  1974
842  Sweden            0–0       Bulgaria  1974
860  Sweden            0–1         Poland  1974
864  Sweden            2–1     Yugoslavia  1974
332  Sweden            1–2       Scotland  1990
334  Sweden            1–2     Costa Rica  1990
419  Sweden            4–0       Bulgaria  1994
418  Sweden            0–1         Brazil  1994
378  Sweden            3–1         Russia  1994
519  Sweden            1–1      Argentina  2002
535  Sweden   1–2 (a.e.t.)        Senegal  2002
517  Sweden            2–1        Nigeria  2002
558  Sweden            1–0       Paraguay  2006
559  Sweden            2–2        England  2006
799  Sweden            0–2        England  2018
795  Sweden            1–0    Switzerland  2018
772  Sweden            1–0    South Korea  2018

In [42]:
#hay filas con data de texto y no netamente numerica
df_data_historica['score'].str.contains('[^\d–]')#detectar lo que no tenga digito
df_data_historica[df_data_historica['score'].str.contains('[^\d–]')]
#esos partidos tienen el score y algo entre los parentesis

                home         score             away  year
34            Italy   2–1 (a.e.t.)   Czechoslovakia  1934
27            Italy   1–1 (a.e.t.)            Spain  1934
24          Austria   3–2 (a.e.t.)           France  1934
48           Brazil   1–1 (a.e.t.)   Czechoslovakia  1938
42   Czechoslovakia   3–0 (a.e.t.)      Netherlands  1938
..               ...           ...              ...   ...
802         Croatia   2–1 (a.e.t.)          England  2018
800          Russia   2–2 (a.e.t.)          Croatia  2018
796        Colombia   1–1 (a.e.t.)          England  2018
792         Croatia   1–1 (a.e.t.)          Denmark  2018
791           Spain   1–1 (a.e.t.)           Russia  2018

[68 rows x 4 columns]

In [43]:
df_data_historica['score'] = df_data_historica['score'].str.replace('[^\d–]', '', regex=True)
#reemplazar todo lo que no sea digito por un espacio en blanco

In [44]:
df_data_historica[df_data_historica['score'].str.contains('[^\d–]')]
#ya no hay nada

Empty DataFrame
Columns: [home, score, away, year]
Index: []

In [45]:
#limpiar data faltante o espacios en blanco
df_data_historica["home"]=df_data_historica["home"].str.strip() 
df_data_historica["away"]=df_data_historica["away"].str.strip()

In [46]:
#separar datos del score, en dos columnas
df_data_historica[["HomeGoals","AwayGoals"]]=df_data_historica['score'].str.split("–",expand=True) #ahora tengo dos columnas
df_data_historica

            home score           away  year HomeGoals AwayGoals
0         France   4–1         Mexico  1930         4         1
17       Uruguay   4–2      Argentina  1930         4         2
16       Uruguay   6–1     Yugoslavia  1930         6         1
15     Argentina   6–1  United States  1930         6         1
14      Paraguay   1–0        Belgium  1930         1         0
..           ...   ...            ...   ...       ...       ...
767       Brazil   2–0     Costa Rica  2018         2         0
768       Serbia   1–2    Switzerland  2018         1         2
769       Serbia   0–2         Brazil  2018         0         2
756       France   1–0           Peru  2018         1         0
773  South Korea   1–2         Mexico  2018         1         2

[900 rows x 6 columns]

In [47]:
#ahora se borra la columna score
df_data_historica.drop('score', axis=1, inplace=True) #axis=1 col y axis=0 fila

In [48]:
df_data_historica

            home           away  year HomeGoals AwayGoals
0         France         Mexico  1930         4         1
17       Uruguay      Argentina  1930         4         2
16       Uruguay     Yugoslavia  1930         6         1
15     Argentina  United States  1930         6         1
14      Paraguay        Belgium  1930         1         0
..           ...            ...   ...       ...       ...
767       Brazil     Costa Rica  2018         2         0
768       Serbia    Switzerland  2018         1         2
769       Serbia         Brazil  2018         0         2
756       France           Peru  2018         1         0
773  South Korea         Mexico  2018         1         2

[900 rows x 5 columns]

In [49]:
#renombrar nombre de las columnas
df_data_historica.rename(columns={'home':'HomeTeam','away':'AwayTeam',
                                 'year':'Year'},inplace=True)
df_data_historica

        HomeTeam       AwayTeam  Year HomeGoals AwayGoals
0         France         Mexico  1930         4         1
17       Uruguay      Argentina  1930         4         2
16       Uruguay     Yugoslavia  1930         6         1
15     Argentina  United States  1930         6         1
14      Paraguay        Belgium  1930         1         0
..           ...            ...   ...       ...       ...
767       Brazil     Costa Rica  2018         2         0
768       Serbia    Switzerland  2018         1         2
769       Serbia         Brazil  2018         0         2
756       France           Peru  2018         1         0
773  South Korea         Mexico  2018         1         2

[900 rows x 5 columns]

In [50]:
#cambiar tipo de dato:
df_data_historica.dtypes # es un atributo
#homegoals y awaygoals no son textos sino enteros
df_data_historica=df_data_historica.astype({"HomeGoals":int,"AwayGoals":int,"Year":int})
df_data_historica.dtypes

HomeTeam     object
AwayTeam     object
Year          int32
HomeGoals     int32
AwayGoals     int32
dtype: object

In [51]:
df_data_historica["TotalGoals"]=df_data_historica["HomeGoals"]+df_data_historica["AwayGoals"] #para crear una columna
# para ver el numero total de goles en un partido
# 5= 4+1
df_data_historica["TotalGoals"]

0      5
17     6
16     7
15     7
14     1
      ..
767    2
768    3
769    2
756    1
773    3
Name: TotalGoals, Length: 900, dtype: int32

### Exportar dataframes limpios

In [52]:
df_data_historica.to_csv("clean_fifa_worldcup_matches.csv",index=False)

In [53]:
df_fixture.to_csv("clean_fifa_worldcup_fixture.csv",index=False)

In [54]:
# verificar numero partidos, para ver si hemos eliminado de mas o nos falta
years = [1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,
        1978,1982,1986,1990,1994,1998,2002,2006,2010,2014,
        2018]

for year in years:
    print(year,len(df_data_historica[df_data_historica["Year"]==year]))

1930 18
1934 17
1938 18
1950 22
1954 26
1958 35
1962 32
1966 32
1970 32
1974 38
1978 38
1982 52
1986 52
1990 52
1994 52
1998 64
2002 64
2006 64
2010 64
2014 64
2018 64

## Prediccion ganador mundial qatar 2022

### Pasos a seguir

Recoleccion de datos -> limpieza y preparacion de datos -> exploracion de datos -> feature engineering -> creacion de modelo -> evaluacion del modelo y deployment

In [55]:
import pandas as pd
import pickle
from scipy.stats import poisson
# !pip install pandas "cuando no se ha descargado antes"

In [56]:
dict_table=pickle.load(open("dict_table2","rb")) #archivo de diccionario
df_historical_data=pd.read_csv("clean_fifa_worldcup_matches.csv")
df_fixture=pd.read_csv("clean_fifa_worldcup_fixture.csv")

In [57]:
dict_table.keys() #grupos del mundial

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [58]:
dict_table["Group A"] ## grupo A
df_historical_data #goles que marco equipo loca, el visitante o equipo a y equipo b 
df_fixture #los partidos que jugaran

                home     score              away  year
0              Qatar   Match 1           Ecuador  2022
1            Senegal   Match 2       Netherlands  2022
2              Qatar  Match 18           Senegal  2022
3        Netherlands  Match 19           Ecuador  2022
4            Ecuador  Match 35           Senegal  2022
..               ...       ...               ...   ...
59  Winners Match 51  Match 59  Winners Match 52  2022
60  Winners Match 57  Match 61  Winners Match 58  2022
61  Winners Match 59  Match 62  Winners Match 60  2022
62   Losers Match 61  Match 63   Losers Match 62  2022
63  Winners Match 61  Match 64  Winners Match 62  2022

[64 rows x 4 columns]

In [59]:
## La fuerza de un equipo "dataframe que sera creado"
## poderio en terminos de goles y que tan debil es en base a los goles que recibe

In [60]:
# Dividir df en df_home "es como si fuera locla" and df_away "visitante"
# dividir data historica en partes equipo a con local y b con visitante
df_home = df_historical_data[['HomeTeam', 'HomeGoals', 'AwayGoals']] # equipo local, goles metidos por equipo local y goles recibidos por equipo local
df_away = df_historical_data[['AwayTeam', 'HomeGoals', 'AwayGoals']] # equipo local, goles metidos por equipo local y goles recibidos por equipo local

In [61]:
# renombrar columnas
df_home = df_home.rename(columns={'HomeTeam':'Team', 'HomeGoals': 'GoalsScored', 'AwayGoals': 'GoalsConceded'})
df_away = df_away.rename(columns={'AwayTeam':'Team', 'HomeGoals': 'GoalsConceded', 'AwayGoals':'GoalsScored'}) #cambia la logica a visitante

In [62]:
# concatenar df_home y df_away, hacer group por team y calcular promedio
#pd.concat([df_home,df_away],ignore_index=True) # goles anotados y recibidos de todos los partidos de mundial
#promedio goles anotados y recibidos x cada seleccion  
df_team_strength = pd.concat([df_home, df_away], ignore_index=True).groupby(['Team']).mean()
df_team_strength
# este es el data frame que muestra las fortalezas y debilidades de un equipo

              GoalsScored  GoalsConceded
Team
Algeria          1.000000       1.461538
Angola           0.333333       0.666667
Argentina        1.691358       1.148148
Australia        0.812500       1.937500
Austria          1.482759       1.620690
...                   ...            ...
Uruguay          1.553571       1.321429
Wales            0.800000       0.800000
West Germany     2.112903       1.241935
Yugoslavia       1.666667       1.272727
Zaire            0.000000       4.666667

[85 rows x 2 columns]

In [63]:
# se puede comparar los equipos que mas reciben goles con los que mas hacen goles

## funcion de prediccion

### Funcion de poisso

Se escogio la distribucion de poisso ya que es una distribucion discreta que describe el numero de eventos que ocurren en un intervalo de tiempo fijo o region de oportunidad.

Goal: Evento que puede ocurrir en los 90 minutos de un partido de futbol.

### Condiciones de una distribucion de poisso

El numero de eventos se puede contar "no puede haber medio gol", la ocurrencia de eventos son independientes "la ocurrencia de un gol no afecta la probabilidad de otro gol - aunque es debatible - un gol puede ocasionar que otro equipo tenga mas ganas de anotar pero se supone que no afecta", la tasa a la que ocurren los eventos es constante "la probabilidad de que ocurra un gol en 90 minutos es la misma en la que ocurra en otro partido de 90 minutos"y dos eventos no pueden ocurrir exactamente en el mismo instante de tiempo. "dos goles no pueden ocurrir en el mismo instante de tiempo"

P (X=x) = (λ^x * e^λ )/ x!


λequipoA: numero esperado de eventos por intervalo de tiempo


λequipoB: promedio de goles en 90 minutos (Equipo A y Equipo B)


x: el numero de goles en un partido que podria marcar el equipo A o el equipo B

## Funcion predict points

In [64]:
#ESTE EN PAUSA POR AHORA
def predict_points(home, away):
    if home in df_team_strength.index and away in df_team_strength.index: #ambos equipos en la de poderio
        # goals_scored * goals_conceded "esto se ve en las dos filas de abajo" ->multiplico la fortaleza del local por la debilidad del visitante en terminos de goles
        lamb_home = df_team_strength.at[home,'GoalsScored'] * df_team_strength.at[away,'GoalsConceded'] #funcion de poisso "el lambda" para equipo local
        lamb_away = df_team_strength.at[away,'GoalsScored'] * df_team_strength.at[home,'GoalsConceded'] #funcion de poisso "el lambda" para equipo visitante
        # mientras mas goles reciba el equipo visitante "el denominador es mas grande" va a penalizar el equipo visitante y la cantiddad de goles del local va a favorecer al local
        prob_home, prob_away, prob_draw = 0, 0, 0 #se crean tres variables de probabilidades (local, visitante y empate), se inicializan con valor de 0
        # lo que sigue es un bucle for para simular los posibles resultados
        for x in range(0,11): #number of goals home team (1-0,2-0,3-0,...,10-0)
            for y in range(0, 11): #number of goals away team (0-1,0-2,...,0-10) -> (1-1,1-2,1-3...)
                p = poisson.pmf(x, lamb_home) * poisson.pmf(y, lamb_away) #se calcula usando la p de la distribucion de poisso, x=#goles
                ## se acumula esa probabilidad en tres posibles escenarios, ese p anterior se acumula en uno de los escenarios, no en todos
                if x == y:
                    prob_draw += p #empate
                elif x > y:
                    prob_home += p #gana local
                else:
                    prob_away += p #gana visitante
        ### se calcula el puntaje
        points_home = 3 * prob_home + prob_draw #probabilidad 100% o 1 "3 puntos"
        points_away = 3 * prob_away + prob_draw
        return (points_home, points_away) #devuelve el puntaje de equipo local y visitante
    else:
        return (0, 0) #en caso de que falle, devuelve la tupla con valores 0,0, no hay puntaje, queda en nulo, puede que haya equipos que no han participado en un mundial, puede que no haya data historica

## Testear funciones

In [65]:
# Testear con partidos: Ej: Argentina vs Mexico, England vs United States, 
print(predict_points('England', 'United States'))
print(predict_points('Argentina', 'Mexico'))
print(predict_points('Qatar (H)', 'Ecuador')) # Qatar vs Team X -> 0 points to both
# pueden tener maximo 3 puntos.

(2.2356147635326007, 0.5922397535606193)
(2.3129151525530505, 0.5378377125059863)
(0, 0)

## Prediciendo Mundial
### Simulacion fase de grupos

In [66]:
# se divide el fixture en grupo, octavos, cuartos, ...
df_fixture_group_48 = df_fixture[:48].copy() #48 partidos, 6 partidos por fase, 8 grupos
df_fixture_knockout = df_fixture[48:56].copy() #knockout =octavos
df_fixture_quarter = df_fixture[56:60].copy() #cuartos de final
df_fixture_semi = df_fixture[60:62].copy()
df_fixture_final = df_fixture[62:].copy()
# se dividio en varios dataframes

In [67]:
dict_table.keys() # tablas de los grupos

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [68]:
## ahora se corren todos los partidos de la fase de grupo y se actualiza las tablas de cada grupo
for group in dict_table: #bucle for al diccionario que tiene las tablas, obtengo el nombre de cada grupo
    teams_in_group = dict_table[group]['Team'].values #obtengo el nomnre de los equipos de cada grupo
    df_fixture_group_6 = df_fixture_group_48[df_fixture_group_48['home'].isin(teams_in_group)] #Divido 48 partidos en grupos de 6, es decir, por grupo.
    for index, row in df_fixture_group_6.iterrows(): #ITERACION POR CADA FILA QUE ESTA EN EL DATAFRAME
        home, away = row['home'], row['away'] #Selecciono el equipo local y el visitante y le doy su respectivo nombre
        points_home, points_away = predict_points(home, away) #aplico la formula que he creado previamente, la cual me recibe un equipo local y uno visitante
        # lo anterior me arroja el punto del local y el del visitante
        dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home #agrego los puntos a la tabla de posiciones, equipo local
        dict_table[group].loc[dict_table[group]['Team'] == away, 'Pts'] += points_away #lo mismo para visitantes
    # arreglos a las tablas, orden de acuerdo a los puntoT
    dict_table[group] = dict_table[group].sort_values('Pts', ascending=False).reset_index() #segun col pts
    dict_table[group] = dict_table[group][['Team', 'Pts']]
    dict_table[group] = dict_table[group].round(0) #redondeamos a cero los valores para que no aparezca decimales

In [69]:
# EJEMPLO DE LO QUE ESTA HACIENDO EN LA SEGUNDA FILA:
for group in dict_table: #bucle for al diccionario que tiene las tablas, obtengo el nombre de cada grupo
    print(dict_table[group]['Team'].values)

['Netherlands' 'Senegal' 'Ecuador' 'Qatar (H)']
['England' 'Wales' 'United States' 'Iran']
['Argentina' 'Poland' 'Mexico' 'Saudi Arabia']
['France' 'Denmark' 'Tunisia' 'Australia']
['Germany' 'Spain' 'Japan' 'Costa Rica']
['Croatia' 'Belgium' 'Morocco' 'Canada']
['Brazil' 'Switzerland' 'Serbia' 'Cameroon']
['Portugal' 'Uruguay' 'Ghana' 'South Korea']

In [70]:
# ejemplo fila 3 de la funcion:
df_fixture_group_48[df_fixture_group_48['home'].isin(['Argentina','Saudi Arabia','Mexico','Poland'])]
#lo que estoy filtrando es por los 6 partidos que hay en cada grupo
# De esta manera no cruzamos una partido que tenga un equipo del grupo A con un equipo del grupo D

            home     score          away  year
12     Argentina   Match 8  Saudi Arabia  2022
13        Mexico   Match 7        Poland  2022
14        Poland  Match 22  Saudi Arabia  2022
15     Argentina  Match 24        Mexico  2022
16        Poland  Match 39     Argentina  2022
17  Saudi Arabia  Match 40        Mexico  2022

In [71]:
dict_table["Group A"] #esta en ceros

          Team  Pts
0  Netherlands  4.0
1      Senegal  2.0
2      Ecuador  2.0
3    Qatar (H)  0.0

In [72]:
# Ejemplo fila 7 y 8
dict_table["Group C"].loc[dict_table["Group C"]['Team'] == "Argentina", 'Pts']
#0 puntos a ambos por lo que la tabla de arriba esta en ceros como todos los equipos

0    7.0
Name: Pts, dtype: float64

In [73]:
# mostrar tabla actualizada
dict_table["Group A"] #acerto posiciones
dict_table["Group B"] #gales no paso
dict_table["Group C"] #Acerto posiciones
dict_table["Group D"] # No acerto con dinamarca
dict_table["Group E"] #paso primero japon y segundo españa
dict_table["Group F"] #primero marruecos y segundo croacia
dict_table["Group G"] #acerto posiciones
dict_table["Group H"] #Acerto portugal con puntos pero segundo fue corea

          Team  Pts
0     Portugal  6.0
1      Uruguay  5.0
2        Ghana  4.0
3  South Korea  2.0

### Simulacion knock out - octavos

In [74]:
# Octavos: df_fixture_knockout
df_fixture_knockout #el ganador del grupo a se enfrenta contra el segundo del grupo B

               home     score                away  year
48  Winners Group A  Match 49  Runners-up Group B  2022
49  Winners Group C  Match 50  Runners-up Group D  2022
50  Winners Group D  Match 52  Runners-up Group C  2022
51  Winners Group B  Match 51  Runners-up Group A  2022
52  Winners Group E  Match 53  Runners-up Group F  2022
53  Winners Group G  Match 54  Runners-up Group H  2022
54  Winners Group F  Match 55  Runners-up Group E  2022
55  Winners Group H  Match 56  Runners-up Group G  2022

In [75]:
# ahora se actualiza la tabla:
#Actualizar el fixture de octavos con el 1 puesto (group winner) y 2 puesto (runners up)
for grupo in dict_table:
    group_winner = dict_table[grupo].loc[0, "Team"] #localizar 1 puesto, index 0 y que se encuentre en la col "team"
    runners_up = dict_table[grupo].loc[1, "Team"] #segunda fila en esa tabla
    df_fixture_knockout.replace({f'Winners {grupo}':group_winner,
                                f'Runners-up {grupo}':runners_up}, inplace=True) #se cambia solo la primera fila, por eso se le pone el group
df_fixture_knockout["winner"] = "?" #hasta este momento sabemos quienes se enfrentan pero no quien gana aun

In [76]:
df_fixture_knockout

           home     score         away  year winner
48  Netherlands  Match 49        Wales  2022      ?
49    Argentina  Match 50      Denmark  2022      ?
50       France  Match 52       Poland  2022      ?
51      England  Match 51      Senegal  2022      ?
52      Germany  Match 53      Belgium  2022      ?
53       Brazil  Match 54      Uruguay  2022      ?
54      Croatia  Match 55        Spain  2022      ?
55     Portugal  Match 56  Switzerland  2022      ?

In [77]:
# crear funcion get_winner, me permitira conocer el ganador del partido
#parecida a la de predecir de antes
def get_winner(df_fixture_updated): #obtener ganador, del dataframe del fixture actualizado
    for index, row in df_fixture_updated.iterrows(): #iteracion por cada fila del dataframe
        home, away = row['home'], row['away'] #dame el nombre del equipo local y el del visitante
        points_home, points_away = predict_points(home, away) #puntos del equipo local y los puntos del visitante
        if points_home > points_away:
            winner = home
        else:
            winner = away
        df_fixture_updated.loc[index, 'winner'] = winner #localizamos elemento particular que esta en el signo de la interrogacion
    return df_fixture_updated
#ya no devolvemos puntos, solo el nombre de quien gana

In [78]:
get_winner(df_fixture_knockout)
#ganadores de octavos de final

           home     score         away  year       winner
48  Netherlands  Match 49        Wales  2022  Netherlands
49    Argentina  Match 50      Denmark  2022    Argentina
50       France  Match 52       Poland  2022       France
51      England  Match 51      Senegal  2022      England
52      Germany  Match 53      Belgium  2022      Germany
53       Brazil  Match 54      Uruguay  2022       Brazil
54      Croatia  Match 55        Spain  2022        Spain
55     Portugal  Match 56  Switzerland  2022     Portugal

In [79]:
# Acerto todos menos el de alemania.

### Cuartos de final

In [80]:
#create update_table function
df_fixture_quarter

                home     score              away  year
56  Winners Match 53  Match 58  Winners Match 54  2022
57  Winners Match 49  Match 57  Winners Match 50  2022
58  Winners Match 55  Match 60  Winners Match 56  2022
59  Winners Match 51  Match 59  Winners Match 52  2022

In [81]:
def update_table(df_fixture_round_1, df_fixture_round_2): #recibe dos inputs, el de la ronda de octavos y el de cuartos
    # uno esta en consecuencia del otro
    for index, row in df_fixture_round_1.iterrows(): #iteracion del fixture de la ronda 1
        winner = df_fixture_round_1.loc[index, 'winner'] #nombre ganador
        match = df_fixture_round_1.loc[index, 'score'] #partido "identificador del partido", para saber de que partido viene
        df_fixture_round_2.replace({f'Winners {match}':winner}, inplace=True) #reemplazar a todo lo que diga winner y luego el numero del partido, y luego reemplazalo por el ganador
    df_fixture_round_2['winner'] = '?' #fixture de cuartos de final
    return df_fixture_round_2

In [82]:
update_table(df_fixture_knockout, df_fixture_quarter) #actualizo la info de octavos con la tabla de cuartos

           home     score       away  year winner
56      Germany  Match 58     Brazil  2022      ?
57  Netherlands  Match 57  Argentina  2022      ?
58        Spain  Match 60   Portugal  2022      ?
59      England  Match 59     France  2022      ?

In [83]:
# brasil era contra croacia
#marruecos vs portugal

In [84]:
get_winner(df_fixture_quarter) #aqui aparece el ganador

           home     score       away  year       winner
56      Germany  Match 58     Brazil  2022       Brazil
57  Netherlands  Match 57  Argentina  2022  Netherlands
58        Spain  Match 60   Portugal  2022     Portugal
59      England  Match 59     France  2022       France

In [85]:
# portugal no paso

### Semifinal

In [86]:
update_table(df_fixture_quarter, df_fixture_semi) #simulacion pero ahora es cuarto y semifinal

           home     score      away  year winner
60  Netherlands  Match 61    Brazil  2022      ?
61       France  Match 62  Portugal  2022      ?

In [87]:
get_winner(df_fixture_semi)

           home     score      away  year  winner
60  Netherlands  Match 61    Brazil  2022  Brazil
61       France  Match 62  Portugal  2022  France

### Final

In [88]:
update_table(df_fixture_semi, df_fixture_final)

               home     score             away  year winner
62  Losers Match 61  Match 63  Losers Match 62  2022      ?
63           Brazil  Match 64           France  2022      ?

In [89]:
get_winner(df_fixture_final)

               home     score             away  year           winner
62  Losers Match 61  Match 63  Losers Match 62  2022  Losers Match 62
63           Brazil  Match 64           France  2022           Brazil

In [90]:
# la final fue entre francia vs Brasil, se aproximo en la mitad